body {
    background-color: #272727;
    text-align: center;
}

button {
    font-size: 2em;
    background-color: #151515;
    color: #BCBCBC;
    border-color: #9C9C9C;
    border-radius: 1em;
}

p {
    color: #E1E1E1;
    font-size: 1.5em;
}